exclude pyqt5_material/resources/generate.py
recursive-include pyqt5_material *.css.template
recursive-include pyqt5_material/themes *.xml
recursive-include pyqt5_material/fonts *.ttf
recursive-exclude * __pycache__
recursive-exclude * *.py[co]

